.card__team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid var(--secondary-color);
    width: 220px;
    height: 270px;
    border-radius: 15px;
    margin: 30px;
}

.pp_pic{
    border: 4px solid var(--secondary-color);
    border-radius: 50%;
    height: 128px;
    margin-top: 10px;

}

.addons{
    height: 120px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius: 50%;
}
.addons_e{
    height: 120px;
    width: 120px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius: 50%;
}

.card__head_1{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bolder;
}
.card__head_2{
    font-size:15px;
    margin-top: 5px;
    font-weight: 400;
}
.linkedin__icon{
    font-size:20px;
    color: white;
    cursor: pointer;
}
.icon__wrapp__soc{
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    padding: 8px;
    margin-top: 10px;

}

body{
    overflow-x: hidden;
}