@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Redressed&family=Source+Sans+Pro:wght@300&family=ZCOOL+QingKe+HuangYou&display=swap');

.home{
    background-color: black;
    min-height: 100vh;
}
span{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.outer_section{
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

.home_btn{
    background-color: var(--btn-color);
    border: 2px solid white;
    width: 120px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.home_btn:hover{
    background-color: white;
    border: 2px solid var(--btn-color);
    width: 120px;
    padding: 10px;
    margin-top: 15px;
    color: var(--btn-color);
    border-radius: 10px;
}

.social_icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-left: 30px;
    left: 0;
    margin-top: 50px;
 
}
.social_icon{
    color: white;
    margin-top: 15px;
    font-size: 20px;
    
}
.upper_div{
    width:1px;
    background-color: white;
    height: 30vh;
    margin-top: 20px;
}

@media screen and (max-width:678px) {
    .home__txt_1{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .home__txt_2{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    .home__txt_3{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
    }
    .home__txt_4{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 15px;
        width: 200px;
        line-height: 22px;
        font-weight: bold;
        margin-top: 10px;
    }
    .right_section{
        margin-top: 30px;
    }
}
@media screen and (min-width:678px) {
    .home__txt_1{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 40px;
        font-weight: bold;
    }
    .home__txt_2{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 50px;
        font-weight: bold;
    }
    .home__txt_3{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
    }
    .home__txt_4{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 15px;
        width: 300px;
        line-height: 22px;
        font-weight: bold;
        margin-top: 10px;
    }
    
}
