#breathing-button {
    padding-top: 50px;
margin: auto;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 1s ease-out infinite normal;
    font-family:'Lantinghei SC';
    font-size: 16px;

    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.preload__icon{
    width: 300px;
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}





@media screen and (max-width:700px) {
    h1 {
       
       margin: auto;
        color: black;
        font: 900 300% Baskerville, sans-serif;	
    }
}
@media screen and (min-width:700px) {
    h1 {
        
margin: auto;
        color: black;
        font: 900 800% Baskerville, sans-serif;	
    }
}
@keyframes loading {
	from { max-width: 0; }
}

h1:before {
	content: attr(data-content);
	position: absolute;
	overflow: hidden;
	max-width: 20em;
	color: #7935ff;
	animation: loading 15s linear;
}


.her{
   display: flex;
   flex-direction: column;
}